CMakeCache.txt
CTestTestfile.cmake
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
bin
.fuse*
proj.linux/bin/
*.trace
.gradle
.DS_Store
build/
*.obj
*.sdf
*.tlog/
xcuserdata/
Debug/
Release/
*vcxproj.user
